.showCase {
    position: relative;
    width: 92vmax;
    margin: 3% 0% 3% 3%;
    height: 155vmax;
    align-items: center;
    padding: 2%;
    background: rgba(74, 64, 66, 0.305);
    border-color: black;
    border-radius: 30px;
}

.showCase .s1{
    position: absolute;
    width: 33%;
    height: 22.5%;
    background-color: aliceblue;
    border-color: black;
    border-radius: 30px;
    cursor: pointer;
}

.showCase .s2{
    position: absolute;
    margin-left: 34.5%;
    width: 61%;
    height: 13%;
    background-color: aliceblue;
    border-color: black;
    border-radius: 30px;
    margin-bottom: 2%;
    cursor: pointer;
}

.showCase .s3{
    position: absolute;
    width: 38%;
    height: 9%;
    margin-top: 23%;
    margin-left: 34.5%;
    background-color: aliceblue;
    border-color: black;
    border-radius: 30px;
    cursor: pointer;
}
.showCase .s4{
    position: absolute;
    width: 22%;
    height: 15%;
    margin-top: 23%;
    margin-left: 73.5%;
    background-color: aliceblue;
    border-color: black;
    border-radius: 30px;
    cursor: pointer;
}


.showCase .s5{
    position: absolute;
    width: 72%;
    height: 17%;
    margin-top: 39%;
    background-color: aliceblue;
    border-color: black;
    border-radius: 30px;
    cursor: pointer;
}


.showCase .s6{
    position: absolute;
    width: 22%;
    height: 11.4%;
    margin-top: 49%;
    margin-left: 73.5%;
    background-color: aliceblue;
    border-color: black;
    border-radius: 30px;
    cursor: pointer;
}

.showCase .s7{
    position: absolute;
    width: 23%;
    height: 17%;
    margin-top: 69%;
    background-color: aliceblue;
    border-color: black;
    border-radius: 30px;
    cursor: pointer;
}



.showCase .s8{
    position: absolute;
    width: 38%;
    height: 8%;
    margin-top: 69%;
    margin-left: 24.5%;
    background-color: aliceblue;
    border-color: black;
    border-radius: 30px;
    cursor: pointer;
}

.showCase .s9{
    position: absolute;
    width: 32%;
    height: 17%;
    margin-top: 69%;
    margin-left: 64%;
    background-color: aliceblue;
    border-color: black;
    border-radius: 30px;
    cursor: pointer;
}

.showCase .s10{
    position: absolute;
    width: 18%;
    height: 8.5%;
    margin-top: 83%;
    margin-left: 24.5%;
    background-color: aliceblue;
    border-color: black;
    border-radius: 30px;
    cursor: pointer;
}


.showCase .s11{
    position: absolute;
    width: 18.5%;
    height: 8.5%;
    margin-top: 83%;
    margin-left: 44%;
    background-color: aliceblue;
    border-color: black;
    border-radius: 30px;
    cursor: pointer;
}




.showCase .s12{
    position: absolute;
    width: 35%;
    height: 27%;
    margin-top: 98.5%;
    background-color: aliceblue;
    border-color: black;
    border-radius: 30px;
    cursor: pointer;
}


.showCase .subscribe{
    position: absolute;
    width: 35%;
    height: 8%;
    margin-top: 144.5%;
    background-color: rgb(80, 132, 177);
    border-color: black;
    border-radius: 30px;
    cursor: pointer;
}



.showCase .s13{
    position: absolute;
    width: 59.5%;
    height: 20%;
    margin-top: 98.5%;
    margin-left: 36%;
    background-color: aliceblue;
    border-color: black;
    border-radius: 30px;
    cursor: pointer;
}
.showCase .s14{
    position: absolute;
    width: 38%;
    height: 14.8%;
    margin-top: 133%;
    margin-left: 36%;
    background-color: aliceblue;
    border-color: black;
    border-radius: 30px;
    cursor: pointer;
}


.showCase .s15{
    position: absolute;
    width: 20.5%;
    height: 14.8%;
    margin-top: 133%;
    margin-left: 75.5%;
    background-color: aliceblue;
    border-color: black;
    border-radius: 30px;
    cursor: pointer;
}