.Recommended{
    padding: 10px;
    width: 100%;
    height: 100%;
    position: relative;

}

.Recommended .Header{
    width: inherit;
    height: 10%;
    position: relative;
}

.Recommended .Header h2{

    margin-left: 10px;
    font-size: large;
    color: #000;
}
.Recommended .Header h5{
    width: inherit;
    margin-left: 10px;
}


.HeadTag{
    width: inherit;
    height: inherit;
    font-family: monospace;
    margin-left: 10px;
    font-size: 25px;
}

.ChildTag{
    width: inherit;
    height: inherit;
    margin-left: 60px;
    width: 100%;
    font-size: 7px;
    font-family: monospace;
    color: #000;

}

.showCase {
    position: relative;
    width: 90%;
    height: 410px;
    padding-top: 50px;
    padding-left: 1%;
    align-items: center;
    margin-left: 5%;
    background: rgba(145, 129, 138, 0.671);
    border-color: black;
    border-radius: 30px;
    flex-direction: column;
    direction: flex;
}

.Sty1 {
    position: absolute;
    width: 23%;
    height: 100%;
    float: left;
    margin-left: 3%;
    margin-right: 2%;
    border-color: black;
    border-radius: 30px;
    flex-direction: row;
    display: table-cell;
}

.Sty2 {
    position: absolute;
    width: 23%;
    height: 100%;
    float: left;
    margin-left: 27%;
    margin-right: 2%;
    border-color: black;
    border-radius: 30px;
    flex-direction: row;
    display: table-cell;
}

.Sty3 {
    position: absolute;
    width: 23%;
    height: 100%;
    float: left;
    margin-left: 51%;
    margin-right: 1%;
    border-color: black;
    border-radius: 30px;
    flex-direction: row;
    display: table-cell;
}

.Sty4 {
    position: absolute;
    width: 23%;
    height: 100%;
    float: left;
    margin-left: 75%;
    margin-right: 3%;
    border-color: black;
    border-radius: 30px;
    flex-direction: row;
    display: table-cell;
}



