.Recommended{
    padding: 10px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.Recommended .Header{
    width: inherit;
    height: 10%;
    position: relative;
}

.Recommended .Header h2{

    margin-left: 10px;
    font-size: 1vmax;
    color: #6c6c6c;
}
.Recommended .Header h5{
    width: inherit;
    margin-left: 10px;
    color: #6c6c6c;
}


.HeadTag{
    width: inherit;
    height: inherit;
    font-family: monospace;
    margin-left: 10px;
    font-size: 1vmax;
}

.ChildTag{
    width: inherit;
    height: inherit;
    margin-top: -7px;
    margin-left: 60px;
    width: 100%;
    font-size: 0.7vmax;
    font-family: monospace;
    color: #6c6c6c;

}

.showCase {
    position: relative;
    width: 90%;
    height: 33vmax;
    padding-top: 3vmax;
    padding-left: 1%;
    align-items: center;
    margin-left: 5%;
    background: #181818;
    border-color: black;
    border-radius: 20px;
    flex-direction: column;
    direction: flex;
}

.Sty1 {
    position: absolute;
    width: 18vmax;
    height: 26vmax;
    float: left;
    margin-left: 4%;
    margin-right: 2%;
    border-color: black;
    border-radius: 30px;
    flex-direction: row;
    display: table-cell;
    align-items: center;
}

.Sty2 {
    position: absolute;
    width: 18vmax;
    height: 26vmax;
    float: left;
    margin-left: 27%;
    margin-right: 2%;
    border-color: black;
    border-radius: 30px;
    flex-direction: row;
    display: table-cell;
}

.Sty3 {
    position: absolute;
    width: 18vmax;
    height: 26vmax;
    float: left;
    margin-left: 51%;
    margin-right: 2%;
    border-color: black;
    border-radius: 30px;
    flex-direction: row;
    display: table-cell;
}

.Sty4 {
    position: absolute;
    width: 18vmax;
    height: 26vmax;
    float: left;
    margin-left: 75%;
    margin-right: 3%;
    border-color: black;
    border-radius: 30px;
    flex-direction: row;
    display: table-cell;
}



