.showCase {
    width: 94%;
    margin: 3% 0% 3% 3%;
    height: 135vmax;
    align-items: center;
    padding: 3%;
    background: rgba(74, 64, 66, 0.305);
    border-color: black;
    border-radius: 30px;
}

.showCase .s1{
    position: absolute;
    width: 35%;
    height: 60%;
    background-color: aliceblue;
    border-color: black;
    border-radius: 30px;
    cursor: pointer;
}
.showCase .s2{
    position: absolute;
    margin-left: 37%;
    width: 51%;
    height: 32%;
    background-color: aliceblue;
    border-color: black;
    border-radius: 30px;
    margin-bottom: 2%;
    cursor: pointer;
}

.showCase .s3{
    position: absolute;
    width: 28%;
    height: 24%;
    margin-top: 19%;
    margin-left: 37%;
    background-color: aliceblue;
    border-color: black;
    border-radius: 30px;

    cursor: pointer;
}
.showCase .s4{
    position: absolute;
    width: 21%;
    height: 40%;
    margin-top: 19%;
    margin-left: 67%;
    background-color: aliceblue;
    border-color: black;
    border-radius: 30px;
    cursor: pointer;
}


.showCase .s5{
    position: absolute;
    width: 65%;
    height: 40%;
    margin-top: 34%;
    background-color: aliceblue;
    border-color: black;
    border-radius: 30px;
    cursor: pointer;
}


.showCase .s6{
    position: absolute;
    width: 21%;
    height: 25%;
    margin-top: 42%;
    margin-left: 67%;
    background-color: aliceblue;
    border-color: black;
    border-radius: 30px;
    cursor: pointer;
}

.showCase .s7{
    position: absolute;
    width: 21%;
    height: 55%;
    margin-top: 57.5%;
    background-color: aliceblue;
    border-color: black;
    border-radius: 30px;
    cursor: pointer;
}


.showCase .s8{
    position: absolute;
    width: 32%;
    height: 30%;
    margin-top: 57.5%;
    margin-left: 23%;
    background-color: aliceblue;
    border-color: black;
    border-radius: 30px;
    cursor: pointer;
}

.showCase .s9{
    position: absolute;
    width: 31%;
    height: 59%;
    margin-top: 57.5%;
    margin-left: 57%;
    background-color: aliceblue;
    border-color: black;
    border-radius: 30px;
    cursor: pointer;
}


.showCase .s10{
    position: absolute;
    width: 15%;
    height: 25%;
    margin-top: 75.5%;
    margin-left: 23%;
    background-color: aliceblue;
    border-color: black;
    border-radius: 30px;
    cursor: pointer;
}


.showCase .s11{
    position: absolute;
    width: 15%;
    height: 25%;
    margin-top: 75.5%;
    margin-left: 40%;
    background-color: aliceblue;
    border-color: black;
    border-radius: 30px;
    cursor: pointer;
}


.showCase .s12{
    position: absolute;
    width: 25%;
    height: 40%;
    margin-top: 89.5%;
    background-color: aliceblue;
    border-color: black;
    border-radius: 30px;
    cursor: pointer;
}

.showCase .s13{
    position: absolute;
    width: 61%;
    height: 65%;
    margin-top: 91%;
    margin-left: 27%;
    background-color: aliceblue;
    border-color: black;
    border-radius: 30px;
    cursor: pointer;
}

.showCase .s14{
    position: absolute;
    width: 25%;
    height: 25.5%;
    margin-top: 112.5%;
    background-color: rgb(80, 132, 177);
    border-color: black;
    border-radius: 30px;
    cursor: pointer;
}

