
.navbar {
  overflow: hidden;
    height: 50px;
  background-color: rgba(62, 184, 68, 0.61);
}

.navbar img{
    width: 100%;
    height: 30px;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: rgb(78, 59, 59);
}

.dropdown_content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown_content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown_content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown_content {
  display: block;
}

.navbar .search_box {
    width: 30%;
    position: relative;
    display: flex;
      left: 0;
      margin: auto;
  }
  
  .search_input {
    margin-top: 7px;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    padding: 10px 45px 10px 10px;
    background-color: #eaeaeb;
    color: #6c6c6c;
    border-radius: 6px;
    border:none;
    transition: all .4s;
  }
  
  .search_input:focus {
    border:none;
    outline:none;
    box-shadow: 0 1px 12px #b8c6db;
    -moz-box-shadow: 0 1px 12px #b8c6db;
    -webkit-box-shadow: 0 1px 12px #b8c6db;
  }
  
  .search_location {
    margin-top: 7px;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    padding: 10px 5px 10px 10px;
    background-color: #eaeaeb;
    color: #6c6c6c;
    border-radius: 6px;
  }

.avatar{ 
   overflow:scroll;  
   position: relative;
   right: 3%;
   float: right;
   cursor: pointer;
 }

.usericon{
  border-radius:4em; border:1px solid rgb(30, 85, 107);
  height:45px; width:45px;  
  background:none;
  align-items: center; 
  vertical-align: center;
  margin-top: 3px;

}

.usericon::before{
  content:" "; display:block;
  height:18px; width:18px;
  background:rgb(30, 85, 107);
  float: left;
  position:relative; left: 28%;top:3px;
  border-radius:8px;
}

.usericon::after{
  content:" "; display:block;
  height: 10px;width: 30px;
  background:rgb(30, 85, 107);
  float: left;
  position:relative; left:15%;top: 8px;
  border-radius:8px 8px 0 0;
}
