
.navbar {
  overflow: hidden;
  height: 4vmax;
  background-color:#181818;
}

.navbar img{
    width: 80%;
    height: 2.3vmax;
}

.navbar a {
  float: left;
  width: 8.2vmax;
  height: 4vmax;
  font-size: 1.2vmax;
  color: #815c5c;
  text-align: center;
  text-decoration: none;
  border: none;
  outline: none;
  padding-top: 1.2vmax;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 1.2vmax;
  height: 4vmax;
  width: 8.2vmax; 
  border: none;
  outline: none;
  color: #815c5c;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color:#201f1f;
  border-radius: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2)
}

/*
#232b2b
*/
.dropdown_content {
  display: none;
  position: absolute;
  background-color: #181818;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown_content_input {
  display: none;
  position: absolute;
  background-color: #313133;
  min-width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown_content a {
  float: none;
  color: #604848;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown_content a:hover {
  background-color: #201f1f;
  width: 100%;

}

.dropdown:hover .dropdown_content{
  display: block;
  border-radius: 10px;
}

.dropdown:hover .dropdown_content_input{
  display: block;
  border-radius: 10px;
}


.navbar .search_box {
    width: 30%;
    position: relative;
    display: flex;
      left: 0;
      margin: auto;
  }
  
  .search_input {
    margin-top: 0.5vmax;
    width: 100%;
    height: 3vmax;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2vmax;
    background-color: #313133;
    border-radius: 10px;
    color: #6c6c6c;
    border:none;
    transition: all .4s;
  }
  
  .search_input:focus {
    border:none;
    outline:none;
    box-shadow: 0 1px 12px  #313133;
    -moz-box-shadow: 0 1px 12px  #313133;
    -webkit-box-shadow: 0 1px 12px  #313133;
  }
  
  .search_location{
    margin-top: 7px;
    width: 20vmax;
    height: 2.5vmax;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2vmax;
    padding: 10px 45px 10px 10px;
    background-color: #313133;
    border-radius: 10px;
    color: #6c6c6c;
    border:none;
    transition: all .4s;
    margin-bottom: 6px;
  }

  .search_location:focus {
    border:none;
    outline:none;
    box-shadow: 0 1px 12px  #313133;
    -moz-box-shadow: 0 1px 12px  #313133;
    -webkit-box-shadow: 0 1px 12px  #313133;
  }

.avatar{ 
   overflow:scroll;  
   position: relative;
   right: 3%;
   float: right;
   cursor: pointer;
 }

.usericon{
  border-radius:4em; border:1px solid rgb(30, 85, 107);
  height:45px; width:45px;  
  background:none;
  align-items: center; 
  vertical-align: center;
  margin-top: 3px;

}

.usericon::before{
  content:" "; display:block;
  height:18px; width:18px;
  background:rgb(30, 85, 107);
  float: left;
  position:relative; left: 28%;top:3px;
  border-radius:8px;
}

.usericon::after{
  content:" "; display:block;
  height: 10px;width: 30px;
  background:rgb(30, 85, 107);
  float: left;
  position:relative; left:15%;top: 8px;
  border-radius:8px 8px 0 0;
}
