html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  width: 100%;
  height: 100vh;
  color: #fff;
  background: linear-gradient(-45deg,#54478c, #2c699a, #048ba8, #0db39e, #16db93, #83e377, #b9e769, #efea5a, #f1c453, #f29e4c); 
  /* #fbf8cc, #fde4cf, #ffcfd2, #f1c0e8, #cfbaf0, #a3c4f3, #90dbf4, #8eecf5, #98f5e1, #b9fbc0);*/
}


a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}