.rec {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.topdiv {   
    height: 80%;   
    width:100%;  
    display: flex;
    flex-direction: row;
    background-color: rgba(112, 172, 225, 0);
}
