.wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    z-index: 10;
    background-color: rgb(87, 134, 130);
    min-width: 20rem;
    min-height: 20rem;
    border-radius: 10px;
    padding: 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 15px 25px rgba(117, 80, 80, 0.6);
  }
  
  .modalButtons {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
  }
  
  .title {
    font-weight: bolder;
    font-size: 1.5rem;
    margin: 1.5rem 0 3rem 0;
  }
  
  .uploadBtn {
    position: relative;
    overflow: hidden;
    display: inline-block;
  }
  
  .btn {
    border: 2px solid gray;
    color: gray;
    background-color: white;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
  }
  
  .uploadBtn input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }
  
  .button {
    color: white;
    padding: 5px;
    border-radius: 10px;
    border: none;
    padding: 0.4rem 1rem;
    border-radius: 9px;
    color: #fff;
    cursor: pointer;
    transition: 0.2s linear;
    width: 8rem;
    align-items: center;
    justify-content: center;
    display: flex;
    font-weight: 600;
    font-size: 0.9rem;
    margin: 0.5rem;
  }
  
  .createButton {
    background-color: #4e44ce;
  }
  
  .cancelButton {
    border: 2px #fe2d55 solid;
    color: #fe2d55;
  }

 .userBox {
    position: relative;
  }
  
 .userBox input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
  }
 .userBox label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
  }
  
 .userBox input:focus ~ label,
 .userBox input:valid ~ label {
    top: -20px;
    left: 0;
    color: #03e9f4;
    font-size: 12px;
  }